body {
  font-family: 'Dosis', sans-serif;
  background: url(../images/bg_pattern.jpg);
}

.border-yellow {
  border-color: #ffd338;
}

.border-green {
  border-color: #56d47e;
}

.border-meroon {
  border-color: #f05c5c;
}

.bg-yellow {
  background-color: #ffd338;
}

.bg-gray {
  background-color: #a9a9a9;
}

.txt-white {
  color: white;
}

.txt-dark {
  color: #000 !important;
}

.txt-yellow {
  color: #ffd338 !important;
}

.bg-meroon {
  background-color: #f05c5c;
}

.txt-meroon {
  color: #f05c5c !important;
}

.bg-ocean {
  background-color: #1ec0ff;
}

.txt-blue-fb {
  color: #4366ff !important;
}

.txt-blue-tweet {
  color: #1ec0ff !important;
}

.bg-blue-tweet {
  background-color: #1ec0ff !important;
}

.txt-blue-tumblr {
  color: #0b3861 !important;
}

.txt-ocean {
  color: #1ec0ff !important;
}

.bg-green {
  background-color: #56d47e;
}

.txt-green {
  color: #56d47e !important;
}

.top-nav {
  font-family: 'Dosis', sans-serif;
  padding: 4px 0;
}

.top-nav a {
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 4px 8px;
}

.top-nav a:hover {
  color: white;
  background-color: #f05c5c;
  border-radius: 500px;
}

.brand-logo {
  width: 128px;
  padding-left: 0 !important;
}

.brand-logo:hover {
  background-color: transparent !important;
}

.navbar-collapse-abs {
  position: absolute;
  z-index: 1000;
  width: 50vw;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  top: 60px;
  right: -16px;
}

.nav-link {
  padding: 2px 8px !important;
}

.nav-link-user, .nav-link-search {
  display: none;
}

.top-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-menu-user, .dropdown-menu-search {
  position: static;
  display: block;
  background-color: #ffd338;
  min-width: auto;
  width: 100%;
  padding: 0;
  border: 0;
}

.dropdown-menu-user .dropdown-item, .dropdown-menu-search .dropdown-item {
  color: white;
}

.dropdown-menu-user input, .dropdown-menu-search input {
  width: 100%;
  padding: 4px 8px;
  border-radius: 10px;
  border: 0;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-title, .section-title-sub {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
}

.section-title {
  font-size: 24px;
  text-shadow: 2px 2px 0 white;
  text-transform: uppercase;
}

.section-title-sub {
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
}

.hero .section-title-sub {
  margin-top: 16px;
  margin-bottom: 16px;
}

.section-paragraph {
  font-size: 14px;
}

.dashed-line {
  border: 0;
  border-bottom: 4px dashed white;
  margin: 24px auto;
}

.cloud-top, .cloud-bottom {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  margin-left: auto;
  margin-right: auto;
}

.arrow .arrow-img-short, .arrow .arrow-img-long {
  margin-left: auto;
  margin-right: auto;
}

.arrow .arrow-img-short {
  display: block;
}

.arrow .arrow-img-long {
  display: none;
}

.arrow p {
  color: #bbbbbb;
  text-align: center;
  margin-bottom: 0;
}

.banner {
  position: relative;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-title {
  font-size: 32px;
  font-weight: 700;
}

.banner-cloud-top {
  background: url(../images/clouds_over.jpg) no-repeat bottom;
  background-size: cover;
  height: 20%;
}

.banner-content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-cloud-bottom {
  background: url(../images/banner_cloud_bottom.png) no-repeat bottom;
  background-size: cover;
  height: 20%;
}

.hero-img-container {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.hero-img-container img {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.features {
  background: url(../images/feature-bg.jpg) repeat-x;
  background-size: cover;
}

.feature {
  text-align: center;
  margin-bottom: 16px;
}

.feature .section-title-sub {
  font-size: 16px;
}

.course {
  border: 0;
  border-radius: 16px;
  text-align: center;
  background-color: white;
  margin-bottom: 30px;
}

.icon-course {
  fill: white;
  width: 16px;
  height: 16px;
}

.course-topbar {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border: 0 !important;
}

.course-title {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.course-details {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  min-height: 100px;
}

.course-thumbnail {
  border-radius: 0;
}

.course-body {
  position: relative;
  padding: 20px 15px;
}

.course-badge {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  right: 12px;
  top: -25px;
}

.course-badge .price, .course-badge .duration {
  margin: 0;
  padding: 0;
  color: white;
}

.course-badge .price {
  margin-top: 2px;
  font-weight: 700;
  font-size: 18px;
}

.course-badge .duration {
  line-height: .5;
  font-size: 12px;
}

.course-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-footer p {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.fluid-bar {
  width: 100%;
  height: 52px;
  border-radius: 16px;
  padding: 14px 0;
  color: white;
}

.info-numbers {
  position: relative;
  padding-top: 22px;
  padding-bottom: 12px;
}

.info-numbers h2 {
  top: 0;
  left: 0;
  right: 0;
  font-size: 36px;
  font-weight: 700;
  color: white;
  position: absolute;
}

.achievment {
  background-color: #6e6e6e;
}

.course-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.sp-btn {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-image: url(../images/bt_artwork.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 144px;
  height: 54px;
  padding-top: 10px;
  display: block;
  margin: auto;
}

.memorable {
  background-image: url(../images/bg_memorable.jpg);
}

.teacher h2, .teacher p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.teacher h2 {
  font-weight: 400;
}

.teacher p {
  font-weight: 300;
}

.testimonial {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 76px;
}

.testimonial quote {
  line-height: 2;
}

.quote-icon {
  font-size: 76px;
}

.social-teacher {
  margin-bottom: 16px;
}

.social-teacher i {
  margin-right: 16px;
}

.follow-teacher {
  border-bottom: 1px solid black;
  font-size: 18px;
  font-weight: 700;
}

.circle-card {
  position: relative;
  width: 64px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.circle-card .circle-card-img {
  top: 0;
  left: 0;
  width: 93%;
  height: 93%;
  border-radius: 100%;
  position: absolute;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.circle-card .circle-card-img img {
  margin: 0;
  border-radius: 100%;
  width: 100%;
  height: auto;
}

.circle-card .circle-card-body {
  position: absolute;
  width: 93%;
  text-align: center;
  top: 4px;
  left: 0;
  right: 0;
}

.circle-card .circle-card-text-primary, .circle-card .circle-card-text-secondary {
  line-height: 1;
  margin: 0;
}

.circle-card .circle-card-text-primary {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
}

.circle-card .circle-card-text-secondary {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.section.events {
  padding-bottom: 8px;
}

.events .dashed-line {
  margin: 32px auto;
}

.event .event-details .details, .event .event-details .timing, .event-news .event-details .details, .event-news .event-details .timing {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.event .event-details .timing, .event-news .event-details .timing {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.event .event-details .details, .event-news .event-details .details {
  font-weight: 300;
}

.event, .event-news {
  margin-bottom: 32px;
}

.event .event-details {
  margin-left: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.event .details {
  margin-bottom: 4px;
}

.event .section-title-sub {
  text-align: left;
}

.news {
  margin-top: 48px;
}

.event-news .details {
  margin-bottom: 0;
}

.event-news .section-title-sub {
  text-align: left;
  margin-top: 4px;
}

.register-event-link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline !important;
  color: #fb9130 !important;
  letter-spacing: 2px;
}

.dotted-line {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  margin: 4px auto;
}

.nav-bottom {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.nav-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bottom li {
  margin-right: 8px;
  display: inline-block;
}

.nav-bottom a {
  color: inherit;
}

.contacts {
  padding-top: 64px;
  padding-bottom: 110px;
}

.contacts ul li {
  margin-bottom: 6px;
}

.contacts .dotted-line {
  margin-left: 0;
  margin-bottom: 18px;
}

.contacts .section-title-sub {
  margin-top: 20px;
  text-align: left;
}

.contacts .contact h1, .contacts .contact p, .contacts .contact li, .contacts .contact .input-group, .contacts .contact .socials {
  text-align: center;
}

.contacts .contact .input-group {
  display: table;
}

.contacts .contact .input-group div {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0;
}

.contacts .contact .input-group input, .contacts .contact .input-group button {
  border: 0;
  padding: 2px 4px;
  background-color: transparent;
}

.contacts .contact hr, .contacts .contact img {
  margin-left: auto;
  margin-right: auto;
}

.contacts .contact img {
  display: block;
}

.contacts-cloud-edge {
  height: 200px;
  background-image: url(../images/bg_cloud_edge.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contacts-content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-top: 20px;
}

.newsletter-form input {
  border-right: 0;
}

.newsletter-form button {
  border: 1px solid #ced4da;
  border-left: 0;
}

.socials {
  margin-top: 32px;
}

@media (min-width: 576px) {
  .contacts .contact h1, .contacts .contact p, .contacts .contact li, .contacts .contact .input-group, .contacts .contact .socials {
    text-align: left;
  }
  .contacts .contact .input-group {
    display: table;
  }
  .contacts .contact hr, .contacts .contact img {
    margin-left: 0;
  }
  .contacts .contact img {
    display: block;
  }
  .features {
    background-size: contain;
  }
  .event-news .event-details {
    padding-left: 0;
  }
  .event-news .section-title-sub {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .navbar-collapse-abs {
    position: static;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .nav-link-user, .nav-link-search {
    display: block;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-left: 6px;
  }
  .top-dropdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top-dropdown .dropdown a {
    display: block;
  }
  .dropdown-menu-user, .dropdown-menu-search {
    position: absolute;
    width: 200px;
    top: 50px;
    left: auto;
    right: 0;
    padding: 8px;
    display: none;
  }
  .hero .section-title-sub {
    margin-top: 0;
  }
  .feature .section-title-sub {
    font-size: 24px;
  }
  .circle-card {
    width: 118px;
    height: 118px;
  }
  .circle-card .circle-card-body {
    top: 0;
    left: 0;
    right: 0;
  }
  .circle-card .circle-card-text-primary {
    font-size: 48px;
    margin-top: 18px;
  }
  .circle-card .circle-card-text-secondary {
    font-size: 18px;
    margin: 0;
  }
  .hero-img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .info-numbers {
    padding-top: 48px;
    padding-bottom: 32px;
  }
  .info-numbers h2 {
    font-size: 60px;
  }
  /* .event-news {
        margin-bottom: 32px;
    } */
}

@media (min-width: 992px) {
  .top-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .brand-logo {
    width: 200px;
  }
  .nav-link {
    padding: 2px 16px !important;
  }
  .dropdown-menu-user, .dropdown-menu-search {
    top: 70px;
  }
  .banner-cloud-bottom {
    height: 28%;
  }
  .arrow .arrow-img-short {
    display: none;
  }
  .arrow .arrow-img-long {
    display: block;
  }
  .section {
    padding-top: 104px;
    padding-bottom: 100px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-title-sub {
    font-size: 24px;
  }
  .banner-title {
    font-size: 48px;
  }
  .nav-bottom {
    font-size: 18px;
  }
  .sp-btn {
    font-size: 24px;
    width: 248px;
    height: 94px;
    padding-top: 26px;
  }
  .events .section-title {
    text-align: left;
  }
  .events .dashed-line {
    margin-left: 0;
  }
  .news {
    margin-top: 0;
  }
  .dashed-line {
    margin: 46px auto;
  }
  .teacher-content hr {
    margin: 16px auto;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: 1px solid yellow;
  }
  .container-fluid {
    max-width: 1200px;
  }
}

.memory-thumb {
  margin-bottom: 32px;
}

.teacher {
  margin-bottom: 32px;
}

.teacher-content {
  padding-left: 0;
}

.teacher-content hr {
  margin: 4px auto;
}

.teacher-sm-show {
  display: block;
  margin-top: 12px;
}

.teacher-sm-hide {
  display: none;
}

@media (min-width: 450px) {
  .teacher-sm-show {
    display: none;
  }
  .teacher-sm-hide {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */