.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f24 {
  font-size: 24px;
}

.f38 {
  font-size: 38px;
}

.f42 {
  font-size: 42px;
}

.bold {
  font-weight: 400;
}

.thin {
  font-weight: 100;
}

.txt-brand {
  color: #0078BD;
}

.txt-gray {
  color: darkgray;
}

.bg-brand {
  background-color: #0078BD !important;
}

.padd-side {
  padding-left: 32px;
  padding-right: 32px;
}

.padd-side-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.padd-stand {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padd-stand-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
}

#learn-button-big {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, #F5F5F5));
  background-image: linear-gradient(white 50%, #F5F5F5 50%);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  color: darkgray;
  padding: 12px 16px;
  border-radius: 4px;
  width: 238px;
}

#learn-button-big img {
  position: relative;
  margin-left: 10px;
  top: 5px;
}

#learn-button-big:hover {
  background: #0078bd;
  cursor: pointer;
  color: white;
}

.button-small {
  padding: 8px 16px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.master {
  background-color: #121B2A;
}

.wrapper-content, .wrapper-slider {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
}

.wrapper-content::after, .wrapper-slider::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #121B2A;
  position: relative;
  z-index: 100;
}

.navigation {
  position: relative;
}

.navigation nav {
  margin-top: 48px;
  float: right;
}

.navigation ul li {
  list-style-type: none;
  float: left;
}

.navigation ul li a {
  padding: 8px 0 8px 16px;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.navigation ul li a:hover {
  color: #0078BD;
}

.navigation::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo img {
  max-width: 100%;
}

.auth-link {
  position: absolute;
  right: 0;
}

.auth-link a {
  text-transform: uppercase;
  float: left;
}

.nav-drawer {
  display: none;
}

.banner-slider {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
}

.img-slide {
  background-size: cover;
  background-position: right;
  height: 100%;
}

.banner-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.banner-buttons img[id="bt-prv"] {
  position: absolute;
  top: 50%;
  left: 8px;
}

.banner-buttons img[id="bt-nxt"] {
  position: absolute;
  top: 50%;
  right: 8px;
}

.banner-content {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  top: 20%;
}

.banner-content p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

.slide-selector {
  padding: 15px;
  text-align: center;
  border-top: 2px solid #0e1520;
}

.slide-selector input {
  display: none;
}

.slide-selector label {
  content: url(./images/toggle_disable.jpg);
}

.slide-selector input:checked + label {
  content: url(./images/toggle_active.jpg);
}

.features {
  background-color: #121B2C;
  padding-left: 30px;
  padding-right: 30px;
}

.feature {
  width: 33.33%;
  padding-left: 18px;
  padding-right: 18px;
  float: left;
}

.feature img {
  float: left;
}

.feature h1 {
  float: left;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 32px;
}

.feature p {
  clear: both;
  line-height: 1.4em;
}

.infos {
  background-color: #040811;
}

.layout-2 {
  display: none;
}

.info {
  width: 33.33%;
  float: left;
  padding-left: 24px;
  padding-right: 24px;
}

.info h2 {
  margin-bottom: 16px;
}

.info p {
  margin-bottom: 10px;
}

.info-contact {
  padding-top: 16px;
}

.info-quote p {
  padding: 32px 16px;
}

.quote-body {
  position: relative;
}

.quote {
  position: relative;
  padding: 16px;
  background-color: #0C1019;
  z-index: 2;
}

.arrow-quote {
  background-color: #0C1019;
  width: 60px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  z-index: 1;
}

.info-app-store {
  padding-right: 0;
}

.info-app-store .app-store-profile, .info-app-store .app-store-logo {
  display: inline-block;
}

.info-app-store .app-store-logo {
  position: relative;
  top: -88px;
  margin-left: 14px;
}

.info-app-store .app-store-logo img {
  margin-top: 12px;
  max-width: 128px;
}

.bottom-navs::after {
  content: "";
  clear: both;
  display: block;
}

.bottom-navs > div {
  width: 50%;
  float: right;
}

.bottom-links {
  margin-top: 16px;
}

.bottom-links div div {
  margin-bottom: 16px;
}

.bottom-links .link-divider {
  margin-left: 8px;
  margin-right: 8px;
}

.bottom-links a, .bottom-links .link-divider {
  float: left;
  margin-bottom: 8px;
}

.ref-logos img {
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  max-height: 48px;
}

.copyright {
  margin-top: 64px;
  text-align: center;
}

.nav-menu-compact {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper-slider {
    padding-left: 0;
    padding-right: 0;
  }
  .feature {
    width: 33.33%;
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
  .feature img, .feature h1 {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .layout-1 {
    display: none;
  }
  .layout-2 {
    display: block;
  }
  .info {
    width: 50%;
  }
  .info-contact {
    clear: both;
    float: none;
    width: 100%;
    text-align: center;
  }
  .info-contact h2 {
    margin-top: 64px;
  }
  .info-app-store .app-store-items {
    float: right;
  }
}

@media (max-width: 768px) {
  .logo {
    max-width: 128px;
  }
  .wrapper-content {
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav-menu-compact {
    display: block;
    margin-top: 22px;
    float: right;
  }
  .nav-menu-compact div {
    width: 32px;
    height: 2px;
    background-color: #0078BD;
    margin: 6px 0;
  }
  .auth-link, nav {
    display: none;
  }
  .nav-drawer {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1e2a3f;
    padding-top: 72px;
  }
  .nav-drawer .nav-drawer-list li {
    float: none;
    list-style-type: none;
  }
  .nav-drawer a {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 8px 16px;
  }
  .bt-drawer-close {
    position: absolute;
    top: 24px;
    right: 32px;
    width: 32px;
    height: 32px;
  }
  .bt-drawer-close div {
    top: 12px;
    width: 32px;
    height: 2px;
    background-color: #0078BD;
    position: absolute;
  }
  .bt-drawer-close div:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .bt-drawer-close div:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .feature {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .info {
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .info-app-store {
    padding-right: 24px;
  }
  .info-app-store .app-store-items {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-content {
    top: 16%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .bottom-navs > div {
    width: 100%;
  }
  .ref-logos {
    text-align: center;
  }
  .ref-logos img {
    float: none;
  }
}

@media (max-width: 425px) {
  .logo {
    max-width: 96px;
  }
  .f38, .f42, .txt-brand {
    font-size: 22px !important;
  }
  .banner-content {
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  .banner-slider {
    height: 300px;
  }
  .banner-buttons {
    display: none;
  }
  .wrapper-content {
    padding-left: 8px;
    padding-right: 8px;
  }
  .wrapper-slider {
    padding-right: 0;
    padding-left: 0;
  }
  .info, .feature {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 32px;
  }
  .info-app-store {
    padding-right: 0;
  }
  .info-app-store .app-store-logo img {
    width: 108px;
  }
  .nav-menu-compact {
    margin-top: 14px;
  }
  #learn-button-big {
    font-size: 18px;
    width: 180px;
    padding: 8px 12px;
  }
}
/*# sourceMappingURL=style.css.map */