$c-dark : #040811;
$c-darkblue : #121B2A;
$c-deepblue : #121B2C;
$c-blue : #0078BD;
$c-ivory : #F5F5F5;
$c-highlight : #0C1019;
$c-darkgray : darkgray;
.f13 { font-size: 13px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f24 { font-size: 24px }
.f38 { font-size: 38px }
.f42 { font-size: 42px }
.bold { font-weight: 400 }
.thin { font-weight: 100 }
.txt-brand { color: $c-blue }
.txt-gray { color: $c-darkgray }
.bg-brand { background-color:  $c-blue !important}
.padd-side { padding-left: 32px; padding-right: 32px; }
.padd-side-48 { padding-left: 48px; padding-right: 48px; }
.padd-stand { padding-top: 16px; padding-bottom: 16px; }
.padd-stand-48 { padding-top: 48px; padding-bottom: 48px; }
.clearfix::after { content: ""; display: block; clear: both }
* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
}
a { 
    text-decoration: none;
    color: inherit;
}
#learn-button-big {
    background-image: linear-gradient(white 50%, $c-ivory 50%);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    color: $c-darkgray;
    padding: 12px 16px;
    border-radius: 4px;
    width: 238px;
    img {
        position: relative;
        margin-left: 10px;
        top: 5px;
    }
    &:hover {
        background: #0078bd;
        cursor: pointer;
        color: white;
    }
}
.button-small{
    padding: 8px 16px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}
.master {
    background-color: $c-darkblue;
    // border: 1px solid chartreuse;
}
.wrapper-content, .wrapper-slider {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
header {
    background-color: $c-darkblue;
    position: relative;
    z-index: 100;
}
.navigation {
    // overflow: hidden;
    position: relative;
    nav {
        margin-top: 48px;
        float: right;
    }   
    ul li {
        list-style-type: none;
        float: left;
        a {
            padding: 8px 0 8px 16px;
            font-weight: 300;
            // border: 1px solid red;
            font-size: 16px;
            cursor: pointer;
        }
        a:hover {
            color: $c-blue;
        }
    }
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
.logo {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    img {
        max-width: 100%;
    }
}
.auth-link {
    position: absolute;
    right: 0;
    a {
        text-transform: uppercase;
        float: left;
    }
    // border: 1px solid yellow;
}
.nav-drawer {
    display: none;
}
.banner-slider {
    position: relative;
    overflow: hidden;
    height: 500px;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    // transition: all 0.5s;
}
.img-slide {
    background-size: cover;
    background-position: right;
    height: 100%;
}
.banner-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    img[id="bt-prv"] {
        position: absolute;
        top: 50%;
        left: 8px;
    }
    img[id="bt-nxt"] {
        position: absolute;
        top: 50%;
        right: 8px;
    }
}
.banner-content {
    position: absolute;
    width: 100%;
    z-index: 100;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    top: 20%;
    p {
        line-height: 1.4em;
        margin-bottom: 1em;
    }
}
.slide-selector {
    padding: 15px;
    text-align: center;
    border-top: 2px solid rgb(14, 21, 32);
    input {
        display: none;
    }
    label {
        content: url(./images/toggle_disable.jpg)
    }
    input:checked + label {
        content: url(./images/toggle_active.jpg)
    }
}

.features {
    background-color: $c-deepblue;
    padding-left: 30px;
    padding-right: 30px;
}
.feature {
    // @extend .padd-side;
    width: 33.33%;
    padding-left: 18px;
    padding-right: 18px;
    float: left;
    img {
        float: left;
    }
    h1 {
        float: left;
        margin-top: 14px;
        margin-left: 14px;
        margin-bottom: 32px;
    }
    p {
        clear: both;
        line-height: 1.4em;
    }
}

.infos {
    background-color: $c-dark;
}
.layout-2 {
    display: none;
}
.info {
    // @extend .padd-side;
    width: 33.33%;
    float: left;
    // border: 1px solid greenyellow;
    padding-left: 24px;
    padding-right: 24px;

    h2 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 10px;
    }
}
.info-contact {
    padding-top: 16px;
}
.info-quote {
    // padding: 0;
    p{
        padding: 32px 16px;
    }
}
.quote-body {
    position: relative;
}
.quote {
    position: relative;
    padding: 16px;
    background-color: $c-highlight;
    z-index: 2;
}
.arrow-quote {
    background-color: $c-highlight;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: skewY(-30deg);
    z-index: 1;
}
.info-app-store {
    padding-right: 0;
    .app-store-profile, .app-store-logo {
        display: inline-block;
    }
    .app-store-logo {
        position: relative;
        top: -88px;
        margin-left: 14px;
        img {
            margin-top: 12px;
            max-width: 128px;
        }
    }
}
.bottom-navs {
    &::after {
        content: "";
        clear: both;
        display: block;
    }
    &>div {
        width: 50%;
        float: right;
    }
}
.bottom-links {
    margin-top: 16px;
    div {
        div {
            margin-bottom: 16px;            
        }
    }
    .link-divider {
        margin-left: 8px;
        margin-right: 8px;
    }
    a, .link-divider {
        float: left;
        margin-bottom: 8px;
    }
}
.ref-logos{
    img {
        float: right;
        margin-left: 8px;
        margin-right: 8px;
        max-height: 48px;
    }
}
.copyright {
    margin-top: 64px;
    text-align: center;
}
.nav-menu-compact {
    display: none;
}
@media (max-width: 1024px) {    
    .wrapper-slider {
        padding-left: 0;
        padding-right: 0;
    }    
    .feature {
        width: 33.33%;
        text-align: center;
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;
        img, h1 {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }        
    }
    .layout-1 {
        display: none;
    }
    .layout-2 {
        display: block;
    }
    .info {
        width: 50%;
    }
    .info-contact {
        clear: both;
        float: none;
        width: 100%;
        text-align: center;
        h2 {
            margin-top: 64px;
        }
    }
    .info-app-store {
        .app-store-items {
            float: right;
        }
    }
}

@media (max-width: 768px){
    .logo {
        max-width: 128px;
    }
    .wrapper-content{
        padding-left: 32px;
        padding-right: 32px;
    }
    .nav-menu-compact {
        display: block;
        margin-top: 22px;
        float: right;
        div {
            width: 32px;
            height: 2px;
            background-color: $c-blue;
            margin: 6px 0;
        }
    }
    .auth-link, nav {
        display: none;
    }
    .nav-drawer {
        display: block;
        position: fixed;
        z-index: 1000;
        width: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(30, 42, 63);
        padding-top: 72px;
        .nav-drawer-list {
            li {
                float: none;
                list-style-type: none;
            }
        }
        a {
            display: block;
            width: 100%;
            font-size: 18px;
            padding: 8px 16px;
        }
    }
    .bt-drawer-close {
        position: absolute;
        top: 24px;
        right: 32px;
        width: 32px;
        height: 32px;
        div {
            top: 12px;
            width: 32px;
            height: 2px;
            background-color: #0078BD;
            position: absolute;
        }
        div:first-child {
            transform: rotate(45deg);
        }
        div:last-child {
            transform: rotate(-45deg);
        }
    }
    .feature {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .info {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .info-app-store {
        padding-right: 24px;
        .app-store-items {
            float: none;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .banner-content {
        top: 16%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .bottom-navs {
        &>div {
            width: 100%;
        }
    }
    .ref-logos{
        text-align: center;
        img {
            float: none;
        }
    }
}
@media (max-width: 425px){
    .logo {
        max-width: 96px;
    }    
    .f38, .f42, .txt-brand {
        font-size: 22px !important;
    }
    .banner-content {
        padding-top: 0;
        padding-left: 8px;
        padding-right: 8px;
    }
    .banner-slider {
        height: 300px;
    }
    .banner-buttons { 
        display: none 
    }
    .wrapper-content {
        padding-left: 8px;
        padding-right: 8px;
    }
    .wrapper-slider {
        padding-right: 0;
        padding-left: 0;
    }
    .info, .feature {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 32px;
    }
    .info-app-store {
        padding-right: 0;

        .app-store-logo {
            img {
                width: 108px;
            }
        }
    }
    .nav-menu-compact {
        margin-top: 14px;
    }
    #learn-button-big {
        font-size: 18px;
        width: 180px;
        padding: 8px 12px;
    }
}
