* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #626262;
}
button {
    cursor: pointer;
}
button:focus, input:focus {
    outline: none;
}
.bt-scroll-top {
    position: fixed;
    bottom: 8px;
    right: 8px;
    i {
        color: gray;
        padding: 12px 12px;
        background-color: rgba($color: #000, $alpha: .05);
    }
}
.compact-menu-open {
    display: none;
}
.wrapper {
    max-width: 1094px;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid red;
    overflow: hidden;
}
.wrapper-content {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid blue;
    overflow: hidden;
}
.top-nav {
    padding-left: 16px;
    padding-right: 16px;
}
header {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 64px 0 0;
    // margin-bottom: 32px;
    transition: padding-top .5s;
    img {
        display: inline-block;
        max-width: 122px;
        height: auto;
    }
    nav {
        // border: 1px solid purple;
        float: right;
        ul li {
            padding: 0px 0px 8px 64px;
            list-style: none;
            float: left;
        }
        a {
            font-size: 16px;
            font-weight: 400;
            color: inherit;            
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                border-bottom: 2px solid;
            }
        }
    }
}
.shrink {
    padding-top: 12px;
}
.post {
    margin-bottom: 114px;
}
.featured {
    padding-top: 108px;
}
.post-bg-image {
    background-image: url(./images/image-5.png);
    background-size: cover;
    background-position: center;
    max-width: 1062px;
    height: 509px;
    margin-left: auto;
    margin-right: auto;
}
.post-content {
    padding: 0 25px;
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-top: 98px;
        text-transform: uppercase;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    p {
        font-size: 16px;
    }
    p:last-child {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 54px;
        text-transform: uppercase;
    }
}
.card {
    width: 50%;
    padding: 16px 25px;
    margin-bottom: 92px;
    float: left;
    div {
        width: 100%;
        height: 280px;
        background-position: center;
        background-size: cover;
    }
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h1, p {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    p {
        font-size: 16px;
        line-height: 1.7;
    }
}
.newsletter-wrapper {
    padding: 70px 0;
    margin-bottom: 108px;
    background-color: #F0F0F0;
    .newsletter {
        padding-left: 32px;
        padding-right: 32px;
    }
    h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 74px;
    }
    form {
        max-width: 400px;
        border-bottom: 2px solid #626262;
        margin-left: auto;
        margin-right: auto;

        img {
            margin-top: 4px;
            width: 32px;            
        }
        input {
            font-family: 'Playfair Display', serif;
            font-size: 16px;
            font-weight: 400;
            padding: 6px;
            background-color: inherit;
            width: 85%;
            border: 0;              
        }        
        button {
            float: right;
            border: none;
            background-color: inherit;
            transition: all .5s;
        }
        button:hover {
            transform: translateX(5px);            
        }
    }
}
.bt-more {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    padding: 14px 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #626262;
    background-color: white;
}
.bt-more:hover {
    background-color: #F0F0F0;
}
.more {
    margin-top: 32px;
    margin-bottom: 142px;
    text-align: center;
}
footer {    
    background-color: #F0F0F0;
}
.bottom-links {
    padding: 40px 25px;
}
.terms {
    a {
        margin-right: 32px;
        text-decoration: none;
        color: inherit;
        float: left;
    }
}
.officials {
    float: right;
    p, div {
        float: left;
    }
    img {
        display: inline-block;
        margin-top: 4px;
        margin-left: 16px;
        width: 16px;
        height: auto;
    }
}

.nav-menu-compact {
    display: none;
}

@media (max-width: 960px) {
    .card, .post-content, .bottom-links {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (max-width: 768px) {
    header {
        padding-top: 32px;
    }
    .post-bg-image {
        height: 400px;
    }
    // .card {
    //     width: 100%;
    // }
    nav {
        display: none;
    }
    .compact-menu-open {
        display: block;
        float: right;
        margin-top: -10px;
        padding: 0 8px;
        font-size: 24px;
        color: darkgray;

    }
    .nav-menu-compact {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        height: 100%;
        width: 0%;

        z-index: 1000;
        background-color: rgba($color: #000000, $alpha: .7);
        
        .compact-menu-close {
            font-size: 24px;
            color: white;
            padding: 8px 16px;
            display: block;
        }
        .compact-menu-items {
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 16px;
            }
        }
    }
}
@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}
@media (max-width: 500px) {    
    .bottom-links {
        .terms {
            text-align: center;
            a {
                float: none;
                margin: 0;
                padding: 0 16px;
            }
        }
        .officials {
            margin-left: auto;
            margin-right: auto;
            float: none;
            text-align: center;
            p, div {
                padding-top: 4px;
                float: none;
                display: inline-block;
            }
            img {
                margin-left: 8px;
            }
        }
        
    }
}

@media (max-width: 425px) {
    .card, .post-content, .bottom-links {
        padding-left: 8px;
        padding-right: 8px;
    }
}