*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Karma", sans-serif;
    color: #626262;
}
a {
    font-size: 18px;
    text-decoration: none;
}

img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.header{
    position: fixed;
    left: 0;
    right: 0;

    nav{
        position: relative;
        max-width: 1200px;
        height: 3em;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.food-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}
.food-item{
    flex-basis: 24%;
    margin-bottom: 16px;
}
.description{
    padding: 8px;
    text-align: center;
    h2 {
        line-height: 1.2;
        margin-bottom: 16px;
    }
}
h2, h3{
    font-weight: 400;
    text-align: center;
}
#about-me{
    margin-top: 40px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        margin-top: 24px;
    }
    p {
        margin-top: 24px;
        margin-bottom: 32px;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.footer-item{
    margin-top: 16px;
    flex-basis: 31%;
    h2 {
        margin-bottom: 16px;
    }
}
.post-link {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    img {
        // max-width: 68px;
        flex: 1;
        max-width: 64px;
        max-height: 64px;
    }
    div {
        flex: 1;
        margin-left: 16px;
    }
    h3 {
        text-align: left;
    }
    p {
        font-size: 14px;
    }
}
.tags span {
    display: inline-block;
    font-size: 12px;
    padding: 4px 6px;
    margin: 4px 4px;
    border: 1px solid gray;
    cursor: pointer;
}

@media (max-width: 768px) {
    .food-item{
        flex-basis: 48%;    
    }
    footer {
        flex-wrap: wrap;
    }
    .footer-item {
        flex-basis: 48%;
    }
    .footer-item:last-child {
        flex-basis: 100%;
    }
}

@media (max-width: 500px) {
    .food-item{
        flex-basis: 100%;    
    }
    .footer-item {
        flex-basis: 100%;
    }
}

/* Flex container properties:
        flex-direction
        flex-wrap
        flex-flow
        justify-content
        align-items
        align-content

    Flex chlid properties:
        flex
        flex-grow
        flex-shrink
        flex-basis
        order
        align-self        
*/